.weather {
    background-color: #bbbbbbe3;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather_title {
    font-size: 2.5rem;
}

.weather_form {
    display: flex;
    gap: 16px;

}

.weather_form input {
    text-align: center;
    border-radius: 5px;
}

.form_btn {
    background-color: white;
    color:  rgb(3, 3, 52);
    padding: 3px 6px;
    border-radius: 5px;
    transition: transform .25s, 
box-shadow .25s;
}

.form_btn:hover {
    transform: scale(1.1);
box-shadow: -2px 2px 5px black;
transition: transform .25s, 
box-shadow .25s;
}

.weather_city {
    font-size: 1.25rem;
}
.weather_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.weather_container1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather_img {
    width: 200px;
}
.weather_clouds {
margin: 15px 0;
}

.weather_info {
width: 200px;
}

.weather_info li {
margin:  5px 0;
display: grid;
grid-template-columns: 5fr 4fr;
}

.weather_info li span:last-child{
    font-weight: 700;
}

.weather_temp {
    margin: 10px 0;
    text-align: center;
}

.weather_btn {
    cursor: pointer;
    background-color:  rgb(3, 3, 52);
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    transition: transform .25s,
                box-shadow .25s;
}

.weather_btn:hover {
transform: scale(1.1);
box-shadow: -2px 2px 5px black;
transition: transform .25s, 
box-shadow .25s;
}

@media (width >= 850px) {
    .weather {
width: 500px;
    }
    .weather_container1 {
        width: 100%;
        justify-content:space-evenly;
    }
}


  